$_font_family: 'Schibsted Grotesk';
$_second_font_family: 'Allerta Stencil';
$_main_color: #fff;
$_second_color: rgba(255, 255, 255, 0.6);
$_third_color: #000;
$_main_bg_color: #141414;
$_second_bg_color: #1f1f1f;
$_green_color: #00ff66;
