<section id="features" class="section features-section">
  <div class="container">
    <h2 class="title">Main Gameplay Features</h2>
    <img
      class="img"
      src="./images/features@1x.png"
      srcset="./images/features@1x.png, ./images/features@2x.png"
      alt="screenshot of the game"
    />
    <div>
      <svg width="22" height="482">
        <use xlink:href="./images/sprite.svg#icon-arrow"></use>
      </svg>
      <ul class="list">
        <li class="item">
          <p class="text">
            <span class="bold">Realistic Combat Missions</span> - Engage in
            <span class="bold">high-intensity battles</span> across various war
            zones.
          </p>
        </li>
        <li class="item">
          <p class="text">
            <span class="bold" class="bold">Advanced Weaponry</span> Unlock and
            upgrade
            <span class="bold"
              >authentic military-grade firearms and gear.</span
            >
          </p>
        </li>
        <li class="item">
          <p class="text">
            <span class="bold">Diverse Battle Environments - </span> Fight
            through
            <span class="bold">
              urban warfare, jungle operations, and desert conflicts.</span
            >
          </p>
        </li>
        <li class="item">
          <p class="text">
            <span class="bold">Tactical Squad-Based Gameplay - </span>
            Coordinate with your team
            <span class="bold">for strategic victories.</span>
          </p>
        </li>
        <li class="item">
          <p class="text">
            <span class="bold">PvE & PvP Modes - </span>Engage in both
            <span class="bold"
              >story-driven campaigns and competitive multiplayer battles.</span
            >
          </p>
        </li>
        <li class="item">
          <p class="text">
            <span class="bold">Stealth & Assault Options - </span>Choose your
            playstyle:
            <span class="bold"> silent assassin or full-force assault.</span>
          </p>
        </li>
        <li class="item">
          <p class="text">
            <span class="bold">Special Operations Challenges - </span>Complete
            <span class="bold">classified missions for exclusive rewards</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
