<section class="footer">
  <div class="container footer-container">
    <ul class="footer-list">
      <li class="footer-item">
        <a href="./privacy-policy.html" class="footer-link">Privacy Policy</a>
      </li>
      <li class="footer-item">
        <a href="./terms&conditions.html" class="footer-link"
          >Terms and Conditions</a
        >
      </li>
      <li class="footer-item">
        <a href="./cookies-policy.html" class="footer-link">Cookie Policy</a>
      </li>
    </ul>
    <p class="footer-text">© 2025 joylightforce.com – All rights reserved.</p>
  </div>
</section>
