<footer class="footer">
  <div class="container">
    <ul class="list">
      <li class="link">
        <a href="./privacy-policy.html" class="link">Privacy Policy</a>
      </li>
      <li class="link">
        <a href="./terms&conditions.html" class="link">Terms and Conditions</a>
      </li>
      <li class="link">
        <a href="./cookies-policy.html" class="link">Cookie Policy</a>
      </li>
    </ul>
    <p class="text">© 2025 joylightforce.com – All rights reserved.</p>
  </div>
</footer>
