<section id="gallery" class="section gallery">
  <div class="container">
    <h2 class="title">Gallery</h2>
    <ul class="list">
      <li class="item">
        <img
          class="img"
          src="./images/gallery/image1@1x.jpg"
          srcset="
            ./images/gallery/image1@1x.jpg 1x,
            ./images/gallery/image1@2x.jpg 2x
          "
          alt="screenshot of the game"
        />
      </li>
      <li class="item">
        <img
          class="img"
          src="./images/gallery/image2@1x.jpg"
          srcset="
            ./images/gallery/image2@1x.jpg 1x,
            ./images/gallery/image2@2x.jpg 2x
          "
          alt="screenshot of the game"
        />
      </li>
      <li class="item">
        <img
          class="img"
          src="./images/gallery/image3@1x.jpg"
          srcset="
            ./images/gallery/image3@1x.jpg 1x,
            ./images/gallery/image3@2x.jpg 2x
          "
          alt="screenshot of the game"
        />
      </li>
      <li class="item">
        <img
          class="img"
          src="./images/gallery/image4@1x.jpg"
          srcset="
            ./images/gallery/image4@1x.jpg 1x,
            ./images/gallery/image4@2x.jpg 2x
          "
          alt="screenshot of the game"
        />
      </li>
    </ul>
  </div>
</section>
