<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="./index.html" aria-label="Logo and Home link" class="logo-link">
        <svg class="logo">
          <use xlink:href="./images/sprite.svg#icon-logo"></use></svg
      ></a>
      <ul class="list">
        <li class="item">
          <a href="#home" class="link">Home</a>
        </li>
        <li class="item">
          <a href="#about" class="link">About</a>
        </li>
        <li class="item">
          <a href="#features" class="link">Features</a>
        </li>
        <li class="item">
          <a href="#reviews" class="link">Reviews</a>
        </li>
        <li class="item">
          <a href="#how-to-play" class="link">How To Play</a>
        </li>
        <li class="item">
          <a href="#advantages" class="link">Advantages</a>
        </li>
        <li class="item">
          <a href="#faq" class="link">FAQ</a>
        </li>
        <li class="item">
          <a href="#gallery" class="link">Gallery</a>
        </li>
      </ul>
    </nav>

    <button
      type="button"
      class="icon-btn mobile-menu-open-btn"
      title="Mobile Menu Button"
      onclick="toggleMenu()"
    >
      <svg width="24" height="24">
        <use xlink:href="./images/sprite.svg#icon-burger"></use>
      </svg>
    </button>

    <div class="mobile-menu-wrapper">
      <button class="icon-btn mobile-menu-close-btn" type="button">
        <svg
          class="modal-close-button-icon"
          width="24"
          height="24"
          aria-label="Close mobile menu icon"
        >
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>

      <ul class="mobile-menu-list">
        <li class="item">
          <a href="#home" class="mobile-menu-link">Home</a>
        </li>
        <li class="item">
          <a href="#about" class="mobile-menu-link">About</a>
        </li>
        <li class="item">
          <a href="#features" class="mobile-menu-link">Features</a>
        </li>
        <li class="item">
          <a href="#reviews" class="mobile-menu-link">Reviews</a>
        </li>
        <li class="item">
          <a href="#how-to-play" class="mobile-menu-link">How To Play</a>
        </li>
        <li class="item">
          <a href="#advantages" class="mobile-menu-link">Advantages</a>
        </li>
        <li class="item">
          <a href="#faq" class="mobile-menu-link">FAQ</a>
        </li>
        <li class="item">
          <a href="#gallery" class="mobile-menu-link">Gallery</a>
        </li>
      </ul>
    </div>
  </div>
</header>
