<section id="home" class="hero">
  <div class="container">
    <svg class="logo">
      <use xlink:href="./images/sprite.svg#icon-logo"></use>
    </svg>
    <h1 class="title">Strike First, Strike Hard!</h1>
    <div class="wrapper">
      <h2 class="title heading">Play Delta Force</h2>
      <a href="#" target="_blank" rel="noopener noreferrer" class="btn dwd-btn">
        <svg class="icon" aria-label="Google Play Icon">
          <use xlink:href="./images/sprite.svg#icon-google-play"></use></svg
        ><span>Play Now</span></a
      >
    </div>
  </div>
</section>
