<section id="how-to-play" class="section play-section">
  <div class="container">
    <img
      src="./images/play@1x.png"
      srcset="./images/play@1x.png 1x, ./images/play@2x.png 2x"
      alt="Game hero image"
      class="image-desktop"
    />
    <h2 class="title">How to Play</h2>
    <div class="wrapper">
      <img
        src="./images/play@1x-mobile.png"
        srcset="./images/play@1x-mobile.png 1x, ./images/play@2x-mobile.png 2x"
        alt="Game hero image"
        class="image-mobile"
      />
      <ul class="list">
        <li class="item">
          <span class="font">Deploy & Engage</span> - Enter combat zones and
          eliminate enemy threats.
        </li>
        <li class="item">
          <span class="font">Select Your Arsenal</span> - Equip powerful rifles,
          grenades, and tactical gear.
        </li>
        <li class="item">
          <span class="font">Complete Missions</span> - Execute stealth
          takedowns, rescues, and battlefield assaults.
        </li>
        <li class="item">
          <span class="font">Coordinate with Allies</span> - Lead your team in
          co-op or multiplayer missions.
        </li>
        <li class="item">
          <span class="font">Upgrade & Customize</span> - Enhance your weapons,
          armor, and combat skills.
        </li>
        <li class="item">
          <span class="font">Rise in the Ranks</span> - Dominate leaderboards in
          competitive PvP battles.
        </li>
        <li class="item">
          <span class="font">Unlock Special Ops Challenges</span> - Test your
          skills in elite missions for rare rewards.
        </li>
      </ul>
    </div>
  </div>
</section>
