<section class="section join-section">
  <div class="container">
    <h2 class="title">Join the Delta Force Today!</h2>
    <p class="text">
      Download Delta Force and Lead the Ultimate Tactical Strike Team!
    </p>
    <a href="#" target="_blank" rel="noopener noreferrer" class="btn dwd-btn">
      <svg class="icon" aria-label="Google Play Icon">
        <use xlink:href="./images/sprite.svg#icon-google-play"></use></svg
      ><span>Download on Google Play</span></a
    >
  </div>
</section>
