<section id="reviews" class="section">
  <div class="container">
    <h2 class="title">User Reviews</h2>
    <ul class="slider-list">
      <li class="swiper-slide">
        <div class="stars">
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
        </div>
        <p class="text">
          The most intense military shooter I’ve played on mobile! Absolutely
          thrilling.
        </p>
        <h3 class="name">Michael J.</h3>
      </li>
      <li class="swiper-slide">
        <div class="stars">
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
        </div>
        <p class="text">
          Realistic combat, great graphics, and addictive gameplay. Highly
          recommended!
        </p>
        <h3 class="name">Emma R.</h3>
      </li>
      <li class="swiper-slide">
        <div class="stars">
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
        </div>
        <p class="text">
          A true tactical experience. Feels like leading an actual spec-ops
          team.
        </p>
        <h3 class="name">Daniel K.</h3>
      </li>
      <li class="swiper-slide">
        <div class="stars">
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
        </div>
        <p class="text">
          Challenging missions and an arsenal of weapons to master. Super
          engaging!
        </p>
        <h3 class="name">Sophia L.</h3>
      </li>
      <li class="swiper-slide">
        <div class="stars">
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="./images/sprite.svg#icon-star"></use>
          </svg>
        </div>
        <p class="text">
          Delta Force is hands down the best war game on mobile. Can't stop
          playing!
        </p>
        <h3 class="name">Jack T.</h3>
      </li>
    </ul>

    <div class="swiper reviews-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="stars">
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
          </div>
          <p class="text">
            The most intense military shooter I’ve played on mobile! Absolutely
            thrilling.
          </p>
          <h3 class="name">Michael J.</h3>
        </div>
        <div class="swiper-slide">
          <div class="stars">
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
          </div>
          <p class="text">
            Realistic combat, great graphics, and addictive gameplay. Highly
            recommended!
          </p>
          <h3 class="name">Emma R.</h3>
        </div>
        <div class="swiper-slide">
          <div class="stars">
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
          </div>
          <p class="text">
            A true tactical experience. Feels like leading an actual spec-ops
            team.
          </p>
          <h3 class="name">Daniel K.</h3>
        </div>
        <div class="swiper-slide">
          <div class="stars">
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
          </div>
          <p class="text">
            Challenging missions and an arsenal of weapons to master. Super
            engaging!
          </p>
          <h3 class="name">Sophia L.</h3>
        </div>
        <div class="swiper-slide">
          <div class="stars">
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
            <svg class="icon">
              <use xlink:href="./images/sprite.svg#icon-star"></use>
            </svg>
          </div>
          <p class="text">
            Delta Force is hands down the best war game on mobile. Can't stop
            playing!
          </p>
          <h3 class="name">Jack T.</h3>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
