.privacy-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;

  .back-button {
    align-self: flex-start;
  }

  .back-icon {
    width: 9px;
    height: 18px;

    @include media(desktop) {
      width: 16px;
      height: 24px;
    }
  }
}

.cookie-title {
  font-size: 32px;
  margin: 20px 0;

  @include media(desktop) {
    font-size: 96px;
  }
}

.subtitle,
.cookie-section .h3-title,
.cookie-section .h4-title,
.cookie-section .text,
.cookie-section .list-item,
.cookie-section .list .link {
  @include media(desktop) {
    font-size: 24px;
  }
}

.cookie-section {
  letter-spacing: 0.03em;
  padding-bottom: 20px;

  @include font(16, 20);

  .text {
    text-align: left;
  }

  .h4-title {
    position: relative;
    padding-left: 20px;
    margin-bottom: 24px;
    font-weight: 600;

    &::before {
      content: '';
      position: absolute;
      top: 30%;
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $_main_color;
    }
  }

  .list {
    list-style: disc;
    padding: 0 20px 20px;

    .link {
      text-decoration: underline;
      text-decoration-skip-ink: auto;
      word-break: break-word;
      overflow-wrap: break-word;

      @include media(desktop) {
        &:not(:last-child) {
          margin-bottom: 0px;
        }
      }
    }
  }
}
