.privacy-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;

  .back-button {
    align-self: flex-start;
  }
  .back-link {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    padding: 8px 10px;
    font-size: 14px;

    &:hover {
      color: $_hover_background_color;
    }

    &:focus {
      color: $_focus_background_color;
    }

    @include media(desktop) {
      font-size: 24px;
    }
  }
}

.cookie-title {
  font-size: 32px;
  margin: 20px 0;

  @include media(desktop) {
    font-size: 96px;
  }
}
.subtitle {
  font-size: 16px;

  @include media(desktop) {
    font-size: 24px;
  }
}

.cookie-section {
  letter-spacing: 0.03em;
  padding-bottom: 20px;

  @include font(16, 20);

  .text {
    text-align: left;

    @include media(desktop) {
      font-size: 24px;
    }
  }
  .h4-title {
    position: relative;
    padding-left: 20px;

    @include media(desktop) {
      font-size: 24px;
    }
  }
  .h4-title::before {
    content: '';
    position: absolute;
    top: 30%;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $_main_color;
  }

  .list-item {
    margin-bottom: 15px;

    @include media(desktop) {
      font-size: 24px;
    }
  }

  .list {
    list-style: disc;
    padding: 0 20px 20px;

    .link {
      text-decoration: underline;
      text-decoration-skip-ink: auto;
      word-break: break-all;
      overflow-wrap: break-word;

      @include media(desktop) {
        font-size: 24px;

        &:not(:last-child) {
          margin-bottom: 0px;
        }
      }
    }
  }
}
