.footer {
  padding: 20px 0;

  @include media(desktop) {
    padding: 40px 0;
  }

  color: $_second_color;
  background-color: $_second_bg_color;

  .list {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    @include media(desktop) {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 100px;
    }

    .link {
      font-size: 14px;
      text-decoration: underline;
      text-decoration-skip-ink: auto;

      &:not(:last-child) {
        margin-bottom: 12px;
      }

      @include media(desktop) {
        font-size: 20px;

        &:not(:last-child) {
          margin-bottom: 0px;
        }
      }
    }
  }

  .text {
    font-size: 12px;
    text-align: center;

    @include media(desktop) {
      font-size: 20px;
    }
  }
}
