.header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  margin: 0 auto;
  padding: 16px 0;

  @include media(desktop) {
    position: fixed;
    z-index: 10;

    padding: 20px 0;

    background-color: $_second_bg_color;
  }

  .nav {
    display: flex;
    justify-content: start;
    align-items: center;

    @include media(desktop) {
      justify-content: space-between;
    }

    .logo-link {
      display: none;

      @include media(desktop) {
        display: inline-block;
        transition: transform $_transition;

        .logo {
          width: 56px;
          height: 49px;
        }

        &:hover {
          transform: scale(1.05);
        }

        &:focus {
          transform: scale(0.95);
        }
      }
    }

    .list {
      display: none;
      font-size: 20px;

      @include media(desktop) {
        display: inline-flex;
        gap: 40px;
      }

      .link {
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

/* -------- MOBILE MENU ---------- */

.mobile-menu-open-btn {
  @include media(desktop) {
    display: none;
  }
}

.mobile-menu-wrapper {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;

  padding: 6px 40px 14px 16px;

  background-color: $_main_bg_color;
  background-image: url('../images/bg@1x.png');
  background-size: contain;

  @media (min-resolution: 2dppx) {
    background-image: url('../images/bg@2x.png');
  }

  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;

  .mobile-menu-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  .item {
    width: 100%;
    padding: 24px 0 6px;
    border-bottom: 1px solid $_main_color;
  }
}

.mobile-menu-wrapper.is-open {
  transform: translateX(0);
}

.no-scroll {
  overflow: hidden;
}
