.play-section {
  .container {
    position: relative;
    z-index: 1;

    .title {
      margin-bottom: 0;

      @include media(desktop) {
        margin-bottom: 40px;
      }
    }

    .wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      z-index: 2;

      .list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style: disc;
        padding-left: 35px;

        @include media(desktop) {
          width: 505px;
          gap: 32px;
        }

        .item:first-child {
          margin-top: -85px;

          @include media(desktop) {
            margin-top: 0;
          }
        }

        .font {
          font-family: $_second_font_family;
        }
      }

      .image-mobile {
        max-width: 100%;
        height: auto;
        object-fit: cover;

        @include media(desktop) {
          display: none;
        }
      }
    }

    .image-desktop {
      display: none;

      @include media(desktop) {
        display: block;
        position: absolute;
        top: -60px;
        right: 0;

        max-width: none;
        object-fit: cover;
      }
    }
  }
}
