@import './header.scss';
@import './footer.scss';
@import './privacy-policy.scss';
@import './hero.scss';
@import './reviews.scss';
@import './terms&conditions.scss';
@import './cookies-policy.scss';
@import './pop-up.scss';
@import './about.scss';
@import './join.scss';
@import './gallery.scss';
@import './how-to-play.scss';
@import './features.scss';
@import './advantages.scss';
@import './faq.scss';

:root {
  font-family: $_font_family, $_second_font_family, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  @include media(desktop) {
    font-size: 24px;
  }

  color: $_main_color;
  background-color: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 375px;

  padding: 0 16px;

  @include media(desktop) {
    max-width: 1200px;
    padding: 0 60px;
  }
}

.section {
  padding: 60px 0 20px;

  @include media(desktop) {
    padding: 100px 0;
  }
}

.title {
  font-family: $_second_font_family;
  font-size: 24px;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 64px;
    margin-bottom: 40px;
  }
}

.subtitle {
  font-weight: 600;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 8px 24px;
  border-radius: 8px;

  font-weight: 500;
  font-size: 20px;

  color: $_third_color;
  background-color: $_btn_color;
  transition: background-color $_transition, border-color $_transition,
    transform $_transition;

  &:hover {
    background-color: $_hover_btn_color;
  }

  &:focus {
    border-color: $_focus_border_color;
    background-color: $_focus_btn_color;
  }

  &:active {
    background-color: $_focus_btn_color;
    transform: scale(0.97);
  }

  @include media(desktop) {
    padding: 16px 44px;
    font-size: 32px;
  }
}

.dwd-btn {
  display: inline-flex;
  align-items: center;
  gap: 4px;

  @include media(desktop) {
    gap: 20px;
  }
}

.icon-btn {
  border: none;
  background-color: transparent;
  transition: transform $_transition;

  &:hover {
    transform: scale(1.1);
  }

  &:focus {
    outline: none;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

.link {
  display: inline-block;
  transition: transform $_transition, color $_transition, opacity $_transition;

  &:hover {
    color: $_hover_header_link_color;
  }

  &:focus {
    color: $_main_color;
    transform: scale(0.95);
    opacity: 0.8;
  }
}

.back-link {
  display: flex;
  align-items: center;
  gap: 8px;

  @include media(desktop) {
    gap: 10px;
  }

  border-radius: 8px;
  border: 1px solid transparent;
  padding: 8px 10px;

  transition: transform $_transition, border $_transition,
    background-color $_transition;

  &:hover {
    background-color: $_hover_background_color;
    border: 1px solid $_main_color;
  }

  &:focus {
    background-color: $_focus_background_color;
    border: 1px solid transparent;
    transform: scale(0.95);
  }
}
